= simple_form_for(@task_set, url: polymorphic_path([@task_template, @task_set]), 
  multipart: true) do |f|
  = f.error_notification

  = f.input :label
  = f.input :task_file, as: :file

  = f.submit nil, class: 'btn btn-primary'
  = link_to 'Cancel', task_template_task_sets_path(@task_template ? @task_template : @task_set.task_template),
    class: 'btn btn-danger'
