- breadcrumb :task_sets, @task_template

%h1 Task sets

%table.table
  %thead
    %tr
      %th ID
      %th Label
      %th Size
      %th Created at
      %th
      %th
  %tbody
  - @task_sets.each do |task_set|
    %tr
      %td=task_set.id
      %td=link_to task_set.label, task_set_path(task_set)
      %td=task_set.tasks_count
      %td=l task_set.created_at
      %td
        = link_to task_set_assigns_path(task_set), class: 'btn btn-info btn-xs' do
          Assignment
          %span.badge
            = task_set.assigns_count
      %td
        = link_to 'Edit', edit_task_set_path(task_set), class: 'btn btn-default btn-xs'
        = link_to 'Destroy', task_set_path(task_set), method: :delete, data: { confirm: 'Are you sure?' },
        class: 'btn btn-danger btn-xs'

= link_to 'New Task Set', new_task_template_task_set_path(@task_template), class: 'btn btn-primary'
