- breadcrumb :task_set, @task_set

%p
  %b Label:
  = @task_set.label

- keys = @task_set.tasks.first.yaml_data.keys
%table{class: "table table-striped"}
  %thead
    %tr
      %th Title
      - keys.each do |key|
        %th= key
  %tbody
  - @task_set.tasks.each do |task|
    %tr
      %td=link_to task.render(@task_set.task_template.title_template), task_path(task)
      - keys.each do |key|
        %td= task.yaml_data[key]

= link_to 'Edit', edit_task_set_path(@task_set), class: 'btn btn-default'
= link_to 'Delete', task_set_path(@task_set), method: "delete", 
  data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'
