- model_class = TaskTemplate
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:label) + ':'
  %br
  = @task_template.label
%p
  %strong= model_class.human_attribute_name(:title_template) + ':'
  %br
  = @task_template.title_template
%p
  %strong= model_class.human_attribute_name(:form_template) + ':'
  %br
  = @task_template.form_template


= link_to t('.back', :default => t("helpers.links.back")), task_templates_path, :class => 'btn btn-default'
= link_to t('.edit', :default => t("helpers.links.edit")), edit_task_template_path(@task_template), :class => 'btn btn-default'
= link_to t('.destroy', :default => t("helpers.links.destroy")), task_template_path(@task_template), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'

%hr

= link_to 'New Task Set', new_task_template_task_set_path(@task_template), class: 'btn btn-primary'

- unless @task_template.task_sets.empty?
  %table.table
    %thead
      %tr
        %th Task sets
    %tbody
    - @task_template.task_sets.each do |task_set|
      %tr
        %td=link_to task_set.label, task_set_path(task_set)
- else
  %div{class: "alert alert-danger", role: "alert"}
    No tasks have been uploaded.
