- breadcrumb :assigns, @task_set

%h1 Listing assigns

%table{class: 'table table-striped'}
  %thead
    %tr
      %th Username
      %th #Finished
      %th 
  %tbody
    - @task_set.assigns.each do |assign|
      %tr
        %td= assign.user.username
        %td= link_to 'Delete', assign_path(assign), class: 'btn btn-danger btn-xs',
          method: :delete, data: { confirm: 'Are you sure?' }

= simple_form_for [@task_set, @assign] do |f|
  = f.input :name, url: users_autocomplete_user_username_path,
    as: :autocomplete, input_html: { class: 'form-control' }
  = f.submit nil, class: 'btn btn-primary'
