- breadcrumb :assigns, @task_set

%h1 Assignment

%table{class: 'table table-striped'}
  %thead
    %tr
      %th Username
      %th #Finished / #Tasks
      %th Estimated work time (s)
      %th
  %tbody
    - @assigns.each do |assign|
      %tr
        %td= link_to assign.user.username, assign
        %td
          - valuenow = @finished_task_results.fetch(assign.user.id, []).size
          - valuemax = @task_set.tasks.size
          = progressbar(valuemax, valuenow, "#{valuenow}/#{valuemax}")
        %td=assign.user.estimated_work_time(@task_set)
        %td
          = link_to 'Download', assign_download_path(assign), class: 'btn btn-outline-secondary'
          = link_to 'Delete', assign_path(assign), class: 'btn btn-outline-danger',
          method: :delete, data: { confirm: 'Are you sure?' }

= simple_form_for [@task_set, @assign] do |f|
  = f.input :name, url: users_autocomplete_user_username_path,
    as: :autocomplete, input_html: { class: 'form-control' }
  = f.submit nil, class: 'btn btn-primary'
